@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed";
    box-sizing: border-box;}
body{
    display: flex;
    justify-content: center;
    align-items: center;
  
    background: #080f26;
    min-height: 100vh;}
.container{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;}
.container span{
    position: absolute;
    left: 0;
    width: 30px;
    height: 5px;
    background: #2c4766;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: animateBlink 2s linear infinite;
    animation-delay: calc(var(--i) * (2s / 54));}
p{
    color:#fff;
    padding:10px 0px 0px 12px;
   font-size: 14px;}
a{
font-size: 16px;
color:#f67280;}
@keyframes animateBlink{
    0%{
     background: #c06c84;}
   25%{
        background: #6c5b7b;}}
.login-box{
    position: absolute;
    width: 400px;}
.login-box form{
    width: 100%;
    padding: 0 50px;}
h2{
    font-size: 2em;
    color: #f67280;
   text-align: center;}
.input-box{
    position: relative;
    margin: 25px 0;}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #654a4d;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 20px;
    transition: .5s;}
.input-box input:focus,
.input-box input:valid{
    border-color: #f67280;} 
.input-box  label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s ease;}
.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: 1px;
    font-size: .8em;
    background-color:#080f26;
    padding: 0 6px;
    color: #f67280;} 
.forgot-password{
    margin: -15px 0 10px;
    text-align: center;}
.forgot-password a{
    font-size: .85em;
    color: #fff;
    text-decoration: none;}
.forgot-password a:hover{
    text-decoration: underline;}
.btn{
    width: 100%;
    height: 45px;
    border-radius: 45px;
    background: #f67280;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: #173d5f;
    font-weight: 600;}
